<?xml version="1.0"?>
<launch>
    <!-- Add all launch files that you want to run additionally to your robot bringup like moveit, etc... -->
    <arg name="robot" default="cob4-2"/>
    <arg name="robot_env" default="ipa-apartment"/>

    <arg name="mapping" default="1.0"/>
    <!--<arg name="stmgain" default="0.5"/>-->
    <arg name="optimize_pose" default="false"/>   

    <param name ="/use_sim_time" value="true"/>
    <node name="bagfile" pkg="rosbag" type="play" args="--clock --start 38 /home/test/Desktop/filtered3_ekf.bag" output="screen"/>

    <!-- start rviz with configuration -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" />

    <!--
    <node pkg="rqt_tf_tree" type="rqt_tf_tree" name="$(anon rqt_tf_tree)" respawn="false" output="screen" />
    -->
    
    <!-- ipa SLAM -->
    <include file="$(find ipa_long_term_slam)/launch/long_term_slam.launch">
        <arg name="init_from_backup" value="false"/>
        <arg name="init_from_static_map" value="true"/>
        <arg name="robot" value="cob4-2"/>
        <arg name="robot_env" value="ipa-production-plant" />
        <arg name="pkg_env_config" value="/home/test/Desktop/saturn-ingolstadt/"/>
        <arg name="map" value="/home/test/Desktop/saturn-ingolstadt/map.yaml" />
        <!--
        <arg name="map_res" value="$(arg int_res)"/>
        <arg name="part_num" value="$(arg part_num)"/>
        <arg name="ndt_type" value="$(arg ndt_type)"/>-->
    </include> 
   
</launch>
